<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Properties for database connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hiber_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">tan3533</property>

        <!-- Properties for hibernate  -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapped Classes -->
        <mapping class="com.hibernatepractice.prj.Region" />
        <mapping class="com.hibernatepractice.prj.Country" />

    </session-factory>
    
</hibernate-configuration>